<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>Book Ticket</h2>
	
	<p th:text=${msg}></p>
	
	<form th:action="@{/book-ticket}" th:object="${customer}" method="POST">
		<table>
		<tr>
			<td>Name : </td>
			<td><input type="text" th:field=*{name}></td>
		</tr>
		
		<tr>
			<td>from : </td>
			<td><input type="text" th:field=*{from}></td>
		</tr>
		
		<tr>
			<td>to : </td>
			<td><input type="text" th:field=*{to}></td>
		</tr>
		
		<tr>
			<td>doj : </td>
			<td><input type="text" th:field=*{doj}></td>
		</tr>
		
		<tr>
			<td>Train Number : </td>
			<td><input type="text" th:field=*{trainNumber}></td>
		</tr>
		
		<tr>
			<td></td>
			<td><input type="submit" value="submit"></td>
		</tr>
		
		</table>
	
	</form>
	
	<a href="get-ticket">View Tickets</a>

</body>
</html>